@model airbnb.Models.House

@{
    ViewData["Title"] = "Ev Düzenle";
}

<h1>Ev Düzenle</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HouseId" />
            <input type="hidden" asp-for="OwnerId" /> <!-- Kullanıcıdan gizli ama formla gönderilir -->
            <input type="hidden" asp-for="CreatedAt" /> <!-- Değişmesin diye gizli gönderdik -->

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PricePerNight" class="control-label"></label>
                <input asp-for="PricePerNight" class="form-control" />
                <span asp-validation-for="PricePerNight" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" />
                    @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-2">
    <a asp-action="Index">← Listeye Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
